.container-produtos, .container-usuarios {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.produto-item, .usuario-item {
  flex: 1 1 calc(33.33% - 16px); /* Três itens por linha */
  border: 1px solid #ccc;
  padding: 1.5em;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.produto-item:hover, .usuario-item:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .produto-item, .usuario-item {
    flex: 1 1 calc(50% - 16px); /* Dois itens por linha */
  }
}

@media (max-width: 480px) {
  .produto-item, .usuario-item {
    flex: 1 1 100%; /* Um item por linha */
  }
}